.rdw-link-wrapper{
	display: none;
}
.rdw-embedded-wrapper{
	display: none;
}
.rdw-image-wrapper{
	display: none;
}
.rdw-remove-wrapper{
	display: none;
}

.md-card {
	display: inline-block;
	padding: 0 12px;
	border-radius: 25px;
	font-size: 15px;
	box-shadow: 5px 10px 18px #888888;
	text-align: left;
	width: 250px;
	height: 400px;
	/* white-space: nowrap; */
    overflow: hidden;
    text-overflow: clip;
  }
  
  .md-card:hover{
	border-width: 3px;
	border-style: solid;
	border-color:#fff;
  }
  
  .md-card, .md-card-icon {
	line-height: 25px;
  }
  
  .md-card-remove {
	display: inline-block;
	background: rgb(255, 106, 106);
	border: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	padding: 0;
	margin: 5px;
	cursor: pointer;
	font: inherit;
	line-height: 15px;
  }
  .wrapper-class{
	border: 5px solid #fff!important;
	padding: 10px !important;
  } 
  .rdw-editor-wrapper{
	border: 5px solid #fff!important;
	padding: 10px !important;
  }
   
  .editor-class {
	background-color: #fff!important;
	padding: 10px !important;
  }
  .rdw-editor-main{
	background-color: #fff!important;
	padding: 10px !important;
  }