table{
    width: 100%!important;
    table-layout: fixed;
}
td {
    max-width: 300px;
    min-width: 47px;
    max-height: 140px;
    min-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table, td, th {
    border: 1px solid rgb(214, 212, 212);
    border-collapse: collapse;
  }
.todaytd{
    background-color: #AFEEEE!important;
}
.date-text{
    text-align: right!important;
}
.bg-danger{
    background-color: red!important;
}
.bg-warning{
    background-color: rgb(236, 178, 17) !important;
}
.bg-primary{
    background-color:  blue!important;
}
.p-0{
    padding: 0;
}
.m-0{
    margin: 0;
}
h5{
    padding: 0;
    margin: 0;
}
/* For small screen size */
@media screen and (max-width: 768px) {
    .table-header2{
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .table-header1{
        display: none;
    }
} 
ion-card{
    margin: auto;
}